footer.pie{
    .pie{
        grid-area: pie;
        display: flex;
        gap: 30px;
        width:1700px;
        height:70px;
        justify-content:flex-start;
        background-color: #F4D03F;
        background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
        }
            .datos{
                display: flex;
                column-gap: 50px;
                align-items: center;
                color: black;
                font-family:'Roboto', sans-serif;
                p{
                    font-size: 30px;
                    font-weight: 40px;
                    margin-top: 10px;
                    h2{
                    font-size: 30px;
                    font-weight: 30px;
                    }
                }
            }
                .redes-sociales{
                    display: flex;
                    gap: 10px;
                    justify-content:space-evenly;
                    list-style:none;
                    align-items: center;
                    width: 100px; 
                    height: 30px;
                    }
        }