@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&family=Rubik+Distressed&family=Rubik+Microbe&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,300;1,400&family=Ubuntu:wght@700&family=Work+Sans:wght@200;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html{
    height:100%;
    height: 100%;
}
body{
    width: 1000px;
    height: 100%;
    overflow-x: hidden;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-position: center;
    ;
}
/* COMENCE A DAR ESTILOS AL HEADER DE INDEX*/
header.encab{
    display: flex;
    justify-content: space-between;
    width: 1700px;
    height: 70px;
}
nav{
width: 90%;
}
.navBar{
    display: flex;
    justify-content:flex-end;
    font-weight:20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.navBar li{
    list-style: none;
}
.navBar li a{
    text-decoration: none;
    color:white;
    font-size: 20px ;
}
.navBar li a:hover{
    color:red;
}
.logo{
    width: 300px;
    height: 70px;
}
.logo img{
    width: 30px;
    height: 30px;
}
.logo a{
    color:firebrick;
    text-decoration: none;
    font-weight:30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 30px;
    height: 30px;
}
/* COMENCE A DARLE ESTILOS A EL MAIN DE EL INDEX*/
.grid-container{
    display: grid;
    flex-direction: column;
    flex-wrap: nowrap;
}
.grid-container{
    display: grid;
    width: 1700px;
    height: 1000px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:(4,1fr);
    grid-template-areas:
    "encab encab encab"
    "titulop titulop titulop"
    "medios medios medios"
    "pie pie pie"
    ;
}
#grid-2{
    display: grid;
    width: 1700px;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "resto resto textos textos"
    "resto resto textos textos"
    "caroussel caroussel caroussel caroussel"
    ;
}
header.encab{
    grid-area: encab;
}
.titulop{
    grid-area: titulop;
    text-align:center;
    font-weight:70px;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color:midnightblue;
    width: 1700px;
    height: 70px;
}
.grid-2{
    grid-area: medios;
    width: 1700px;
    height: 700px;
}
.resto{
    display: grid;
    grid-area: resto;
    flex-direction:column;
    justify-content:flex-start;
    width: 900px;
    height:500px;
}
.resto img{
    width: 900px;
    height:500px;
}
.textos{
    display:grid;
    grid-area: textos;
    flex-direction:column;
    justify-content: flex-end;
    grid-area: textos;
    color: white;
    background-color:cornflowerblue ;
    width: 830px;
    height: 500px;
}
.textos h2{
    text-align:center;
    font-family:'Roboto', sans-serif;
    margin-top: 30px;
    color:black;
    font-size: 30px;
    font-weight: 40px;
}
.textos h4{
    font-size: 30px;
    font-weight: 40px;
    font-family: 'Rubik Distressed', cursive;
    margin: 20px;
    padding-right:40px;
}
.container.col-md-6{
    width: 700px;
    height: 500px;
}
.caroussel{
    display:grid;
    grid-area: caroussel;
    flex-direction: row;
    justify-content:center;
    width: 100%;
    height: 500px;
    padding: 20px;
}
/* COMENCE A DARLE ESTILOS A EL FOOTER DEL INDEX*/
.pie{
    grid-area: pie;
    display: flex;
    gap: 30px;
    width:1700px;
    height:70px;
    justify-content:flex-start;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}
.datos{
    display: flex;
    column-gap: 50px;
    align-items: center;
    color: black;
    font-family:'Roboto', sans-serif;
}
.datos p{
    font-size: 30px;
    font-weight: 40px;
    margin-top: 10px;
}
.datos h2{
    font-size: 30px;
    font-weight: 30px;
}
.redes-sociales{
    display: flex;
    gap: 10px;
    justify-content:space-evenly;
    list-style:none;
    align-items: center;
    width: 100px;
    height: 30px;
}
@media(max-width:768px){
    header.encab{
        background-color:black;
        width: 1700px;
        height: 300px;
    }
    .logo a{
        color: cornflowerblue;
    }
    .navBar li a:hover {
        color: gold;
    }
    .navBar{
    flex-direction: column;
    align-items: center;
    }
    .navBar li a{
        color:white;
        font-size: 20px;
        background-position: 50px;
    }
    .titulop {
        color:lightgreen ;
        font-size: 30px;
        text-align: center;
    }
    .grid-container{
        display: grid;
        flex-flow: row wrap;
        width: 1700px;
        height: 2000px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr) ;
        grid-template-areas:
        "encab encab titulop"
        "medios medios medios"
        "caroussel caroussel pie"
        ;
    }
    #grid-2{
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "resto textos textos"
        "resto textos textos"
        "caroussel caroussel caroussel"
        ;
    }
    #grid-2{
        display: grid;
        width: 1700px;
        height: 1000px;
    }
    .resto{
        display: grid;
        width: 100%;
        height: 400px;
    }
    .textos{
        display:grid;
        width: 100%;
        height: 400px;
    }
    .textos h2{
        text-align:center;
        font-family:'Roboto', sans-serif;
        margin-top: 20px;
        color:black;
        font-size: 20px;
        font-weight: 20px;
    }
    .textos h4{
        font-size: 20px;
        font-weight: 20px;
        font-family: 'Rubik Distressed', cursive;
        margin: 20px;
        padding-right:30p
    }
    .caroussel{
        display:grid;
        flex-direction: row;
        justify-content:center;
        width: 100%;
        height: 100%;
        padding: 20p
}
.pie{
    width: 1700px;
    height: 70px;
}
}
@media (max-width:320px){
    header.encab{
        background-color: chocolate;
        height: 150px;
        width: 100%;
    }
    .logo a{
        color:dodgerblue;
    }
    .navBar li a:hover{
        background-color:greenyellow;
    }
    .navBar{
            align-items:flex-start;
    }
    .navBar li a{
            color: black;
            font-size: 20px;
    }
    .titulop{
            color:deepskyblue;
            text-align: center;
            width: 200px;
            height: 20px;
            font-size: 30px;
            font-weight:40px;
            font-family: 'Roboto', sans-serif;
    }
    .grid-container{
            width: 50%;
            height: 500px;
            grid-template-columns:(1 1fr);
            grid-template-rows: 1fr 1fr 300px 200px 1fr 200px;
            grid-template-areas:
            "encab"
            "titulop"
            "medios"
            "pie"
            ;
    }
    #grid-2{
            width: 50%;
            height: 500px;
            grid-template-columns:(1 1fr);
            grid-template-rows: 1fr 1fr 300px 200px 1fr 200px;
            grid-template-areas:
            "resto"
            "textos"
            "caroussel"
            ;
    }
    .pie{
        width: 1700px;
        height: 70px;
    }
}
/* COMENCE A DAR ESTILOS AL HEADER DE MISION*/
.encab{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav{
width: 90%;
}
.navBar{
    display: flex;
    justify-content:space-evenly;
    font-weight:20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.navBar li{
    list-style: none;
}
.navBar li a{
    text-decoration: none;
    color:white;
    font-size: 20px ;
}
.navBar li a:hover{
    color:red;
}
.logo{
    width: 300px;
    height: 70px;
}
.logo img{
    width: 30px;
    height: 30px;
}
.logo a{
    color:firebrick;
    text-decoration: none;
    font-weight:30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 30px;
    height: 30px;
}
/* COMENCE A DARLE ESTILOS A EL MAIN DE MISION*/
.container-grid{
    display: grid;
    flex-flow: row wrap;
    width: 100%;
    height: 100vh;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(5, 1fr);
    grid-template-areas:
    "encab encab encab encab"
    "titulo titulo titulo titulo"
    "medio medio medio medio"
    "pie pie pie pie"
    ;
}
.medio{
    display: grid;
    width: 100px;
    height: 100vh;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "imagen texto texto"
    "imagen texto texto"
    ;
}
.container-grid{
    display:grid;
}
.encab{
    grid-area: encab;
    display: grid;
    height: 70px;
    width: 1700px;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}
.logo.img{
    margin: 5px;
}
.titulo{
    display: grid;
    grid-area: titulo;
    height: 70px;
    width: 1700px;
}
.titulo h2{
    text-align:center;
    color:burlywood;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    width: 1700px;
    height: 70px;
}
.medio{
    grid-area: medio;
    display: grid;
    flex-direction: row;
    width: 1700px;
    height: 1100px;
}
.imagen{
    width: 500px;
    height: 500px;
}
.imagen img{
    display:grid;
    grid-area: imagen;
    flex-direction:row;
    width: 500px;
    height:500px;
    
}
.texto{
    display: grid;
    grid-area: texto;
    flex-direction:column;
    align-items: center;
    background-color:rgba(195, 207, 23, 0.959);
    width: 1150px;
    height: 1000px;
}
.texto h3{
    display: grid;
    flex-direction: left;
    font-weight: 40px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    justify-content: center;
    color:black;
    width: 1000px;
    height: 70px;
    margin-top: 10px;
}
.texto h5{
    display: grid;
    flex-direction: left;
    font-family: 'Rubik Distressed', cursive;
    color:black;
    font-weight: 30px;
    font-size: 25px;
    text-align:center;
    width: 1000px;
    height: 1000px;
    padding: 20px;
}
/* COMENCE A DARLE ESTILOS EL FOOTER DE MISION*/
.pie{
    grid-area: pie;
    display: flex;
    gap: 30px;
    width:1700px;
    height: 70px;
    justify-content: space-between;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}
.datos{
    display: flex;
    column-gap: 50px;
    align-items: center;
    color: black;
    font-family:'Roboto', sans-serif;
}
.datos p{
    font-size: 30px;
    font-weight: 40px;
    margin-top: 10px;
}
.datos h2{
    font-size: 30px;
    font-weight: 30px;
    color: black;
}
.redes-sociales{
    display: flex;
    gap: 10px;
    justify-content:space-evenly;
    list-style: none;
    align-items: center;
    width: 100px;
    height: 30px;
}
/* COMENCE A DARLE ESTILOS A EL FOOTER DE MISION*/
@media(max-width:768px){
    .encab{
        background-color: black;
        width: 1700px;
        height:300px;
    }
    .logo a{
        color: cornflowerblue;
    }
    .navBar li a:hover {
        color: gold;
    }
    .navBar{
    display: flex ;
    flex-direction: column;
    align-items: center;
    color:darkblue;
    }
    .navBar li a{
        color:white;
        font-size: 20px;
        background-position: 50px;
    }
    .titulo h2 {
        color:lightgreen ;
        font-size: 40px;
        align-items: center;
        width: 1700px;
        height:70px;
    }
    .img{
    width: 400px;
    height: 250px;
    }
    .texto h3 {
        color:grey;
        background-color: aquamarine;
        font-weight: 20px;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        text-align:center;
        justify-content: center;
        width: 1000px;
        height: 70px;
    }
    .texto h5{
        width: 1000px;
        height: 1400px;
        background-color:aquamarine;
        font-family: 'Rubik Distressed', cursive;
        color:grey;
        font-weight: 30px;
        font-size: 25px;
        text-align:justify;
    }
    .resaltado{
        color: grey;
    }
    .grid-container{
        display:grid;
        flex-flow: row wrap;
        width: 100%;
        height: 100vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:repeat(5, 1fr) ;
        grid-template-areas:
        "encab encab titulo"
        "medio medio medio"
        "container container pie"
        ;
    }
    .medio{
        display: grid;
        width: 100px;
        height: 100vh;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "imagen texto texto"
        "imagen texto texto"
        ;
    }
    .pie{
        width: 1700px;
        height: 70px;
        position: fixed;
        bottom: 0;
    }
    }
    @media (max-width:320px){
    header.encab{
    background-color: chocolate;
    width: 1700px;
    height:300px;
    }
    .logo a{
    color:coral;
    }
    .navBar li a:hover{
    background-color:greenyellow;
    }
    .navBar{
            display: flex ;
            flex-direction: column;
            align-items: center;
        }
    .navBar li a{
            color:white;
            font-size: 20px;
        }
        .titulo h2 {
            color:deepskyblue;
            text-align: center;
            width: 800px;
            height: 50px;
            font-size: 30px;
            font-weight:40px;
            font-family: 'Roboto', sans-serif;
        }
        .titulo h3 {
            color:deepskyblue;
            text-align: center;
            width: 200px;
            height: 20px;
            font-size: 30px;
            font-weight:40px;
            font-family: 'Roboto', sans-serif;
        }
        .container-grid{
            grid-template-columns:(1 1fr);
            grid-template-rows: 1fr 1fr 300px 200px 1fr 200px;
            grid-template-areas:
            "encab"
            "titulo"
            "medio"
            "textos"
            "container"
            "pie"
            ;
        }
        .medio{
            display: grid;
            width: 100px;
            height: 100vh;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            "imagen"
            "texto"
            ;
        }
        .pie{
            width: 1700px;
            height: 70px;
        }
    }
/* INICIE DARLE ESTILOS A EL HEADER DE NOSOTROS*/
.encab{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav{
width: 90%;
}
.navBar{
    display: flex;
    justify-content:space-evenly;
    font-weight:20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif
}
.navBar li{
    list-style: none;
}
.navBar li a{
    text-decoration: none;
    color: white;
    font-size: 20px ;
}
.navBar li a:hover{
    color: red;
}
.logo{
    width: 300px;
    height: 70px;
}
.logo img{
    width: 30px;
    height: 30px;
}
.logo a{
    color:firebrick;
    text-decoration: none;
    font-weight:30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 30px;
    height: 30px;
}
/* COMENCE A DARLE ESTILOS A EL MAIN */
.medallon{
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "encab encab encab encab"
    "tit tit tit tit"
    "med med med med"
    "med med med med"
    "pie pie pie pie"
;
}
.encab{
    display: grid;
    grid-area: encab;
    width: 1700px;
    height: 70px;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}
.medallon{
    width: 1700px;
    height: 1500px;
}
.tit{
    display: grid;
    grid-area: tit;
}
.tit h2{
    text-align:start;
    color:white;
    font-weight: 50px;
    font-size: 50px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
}
.med{
    display: grid;
    grid-area: med;
    width: 1700px;
    height: 1500px;
}
.med{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
"imagen texto1 texto1"
"imag2 texto1 texto1"
;
}
.imagen{
    display: grid;
    grid-area: imagen;
}
.imagen img{
    flex-direction:column;
    margin: 10px;
    border-radius: 40px;
    width: 500px;
    height: 500px;
}
.imag2 img{ 
    flex-direction:column;
    display: grid;
    grid-area: imag2;
    width: 500px;
    height: 500px;
    margin: 10px;
    border-radius: 40px;
}
.imag2 {
    width: 500px;
    height: 500px;
}
.texto1{
    display:grid;
    flex-direction: column;
    color:black;
    font-size: 30px;
    font-family:'Rubik Distressed', cursive;
    margin-left: 30px;
    background-color: rgba(209, 223, 19, 0.959);
    font-size: 30px;
    font-weight: 20px;
    width: 1000px;
    height: 1100px;
    border-radius: 50px;
    padding: 40px;
}
.resaltado{
    background-color: chartreuse;
    width: 700px;
    height: 70px;
}
/* COMENCE A DARLE ESTILOS A EL FOOTER DE NOSOTROS */
.pie{
    grid-area: pie;
    display: flex;
    gap: 30px;
    position: fixed;
    bottom: 0;
    margin-top: 1000px;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}
.datos{
    display: flex;
    column-gap: 50px;
    align-items: center;
    color: black;
    font-family:'Roboto', sans-serif;
}
.datos p{
    font-size: 30px;
    font-weight: 40px;
    margin-top: 10px;
}
.datos h2{
    font-size: 30px;
    font-weight: 30px;
}
.redes-sociales{
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    align-items: center;
    width: 100px;
    height: 30px;
}
@media(max-width:768px){
    header.encab{
        background-color:cyan ;
    }
    .logo a{
        color: cornflowerblue;
    }
    .navBar li a:hover {
        color: gold;
    }
    .navBar{
    display: flex ;
    flex-direction: column;
    align-items: center;
    }
    .navBar li a{
        color: black;
        font-size: 20px;
        background-position: 50px;
    }
    .tit h2 {
        color:lightgreen ;
        font-size: 40px;
        text-align: center;
    }
    .medallon{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr) ;
        grid-template-areas:
        "encab encab tit"
        "med med med"
        "pie pie pie"
        ;
    }
    .med{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
    "imagen texto1 texto1"
    "imag2 texto1 texto1"
    ;
    }
    .pie{
        width: 1700px;
        height: 70px;
    }
    }
    @media (max-width:320px){
    header.encab{
    background-color: chocolate;
    }
    .logo a{
    color:dodgerblue;
    }
    .navBar li a:hover{
    background-color:greenyellow;
    }
    .navBar{
        align-items:flex-start;
        }
    .navBar li a{
            color: black;
            font-size: 20px;
        }
        h2 {
            color:deepskyblue;
            text-align: center;
            width: 200px;
            height: 20px;
            font-size: 30px;
            font-weight:40px;
            font-family: 'Roboto', sans-serif;
        }
        .medallon{
            grid-template-columns:(1 1fr);
            grid-template-rows: 1fr 1fr 300px 200px 1fr 200px;
            grid-template-areas:
            "encab"
            "tit"
            "med"
            "med"
            "med"
            "pie"
            ;
        }
        .med{
            display: grid;
            grid-template-columns:repeat(3,1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
        "imagen"
        "imag2"
        "texto1"
        ;
        }
        .pie{
            width: 1700px;
            height: 70px;
        }
    }
/* LE DI ESTILOS A LA PAGINA DE INICIO DE PRODUCTOS */
.encab{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}
nav{
width: 90%;
}
.navBar{
    display: flex;
    justify-content:space-evenly;
    font-weight:20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif
}
.navBar li{
    list-style: none;
}
.navBar li a{
    text-decoration: none;
    color:white;
    font-size: 20px ;
}
.navBar li a:hover{
    color:white;
}
.logo{
    width: 300px;
    height: 70px;
}
.logo img{
    width: 30px;
    height: 30px;
}
.logo a{
    color:firebrick;
    text-decoration: none;
    font-weight:30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 30px;
    height: 30px;
}
/* LE DI ESTILOS A EL MAIN DE PRODUCTOS */
.mai{
    width: 1700px;
    height:1600px;
}
.grupo-grid{
    display: grid;
    gap:20px;
    width: 1700px;
    height: 900px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: (3, 1fr);
    grid-template-areas:
    "encab encab encab encab"
    "mai mai mai mai"
    "pie pie pie pie"
    ;
}
.mai{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "menu menu menu"
    "tit-d tit-d tit-d"
    "caroussel caroussel caroussel"
    "caroussel caroussel caroussel"
    "mas mas mas"
    "row2 row2 row2"
    ;
}
.mai{
    grid-area: mai;
    display: grid;
    align-content: center;
    width: 1700px;
    height: 2000px;
}
.encab{
    grid-area: encab;
    display: grid;
    width: 1700px;
    height: 70px;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    padding: 40px;
}
.menu {
    display: grid;
    grid-area:menu;
}
.menu h1{
    background-color: darkorange;
    color: white;
    width: 400px;
    height: 50px;
    border-radius: 50px;
}
.tit-d{
    grid-area: tit-d;
    display: grid;
    width: 1700px;
    height: 70px;
    margin-left: 50px ;
}
.tit h2{
    background-color:rgba(240, 166, 75, 0.822);
    text-align:left;
    color: white;
    font-weight: 40px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    width: 1150px;
    height: 70px;
}
.tit-d h2{
    color: white;
    text-align:center;
    font-weight: 50px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    background-color: darkorange;
    width: 1440px;
    height: 70px;
    border-radius: 50px;
}
.caroussel{
    display: grid;
    grid-area: caroussel;
    width: 1700px;
    height: 900px;
}
.mas{
    display: grid;
    grid-area: mas; 
    width: 1400px;
    height: 70px;
}
.mas h3{
    background-color: darkorange;
    color: white;
    width:1400px;
    height: 70px;
    border-radius: 50px;
    margin-right: 60px;
}
.row2{
    display: grid;
    grid-area: row2;
    flex-direction: row;
    width: 1700px;
    height: 1000px;
}
.row2 .card{
    width:290px;
    height: 760px;
}
.contenedor{
    margin-bottom: 20px;
    width: 100px;
    height: 70px;
}
/* LE DI ESTILOS A EL FOOTER DE PRODUCTOS  */
.pie{
    grid-area: pie;
    display: grid;
    gap: 30px;
    width: 1700px;
    height: 70px;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}
.datos{
    display: flex;
    column-gap: 50px;
    align-items: center;
    color: black;
    font-family:'Roboto', sans-serif;
}
.datos p{
    font-size: 30px;
    font-weight: 40px;
    margin-top: 10px;
}
.datos h2{
    font-size: 30px;
    font-weight: 30px;
}
.redes-sociales{
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    align-items: center;
    width: 100px;
    height: 30px;
}
@media(max-width:768px){
    header.encab{
        background-color:cyan ;
    }
    .logo a{
        color: cornflowerblue;
    }
    .navBar li a:hover {
        color: gold;
    }
    .navBar{
    display: flex ;
    flex-direction: column;
    align-items: center;
    }
    .navBar li a{
        color: black;
        font-size: 20px;
        background-position: 50px;
    }
    h1 {
        color:lightgreen ;
        font-size: 40px;
        text-align: center;
    }
    h2 {
        color:lightgreen ;
        font-size: 40px;
        text-align: center;
    }
    .grupo-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr) ;
        grid-template-areas:
        "encab encab titulo"
        "imagen imagen texto"
        "caroussel caroussel pie"
        ;
    }
    .mai{
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "menu menu menu"
        "tit-d tit-d tit-d"
        "caroussel caroussel caroussel"
        "mas mas mas"
        "row2 row2 row2"
        ;
    
    }
    
    .pie{
        width: 1700px;
        height: 70px;
    }
    }
    @media (max-width:320px){
    header.encab{
    background-color: chocolate;
    }
    .logo a{
    color:dodgerblue;
    }
    .navBar li a:hover{
    background-color:greenyellow;
    }
    .navBar{
        align-items:flex-start;
        }
    .navBar li a{
            color: black;
            font-size: 20px;
        }
        .menu h1 {
            color:deepskyblue;
            text-align: center;
            width: 200px;
            height: 20px;
            font-size: 30px;
            font-weight:40px;
            font-family: 'Roboto', sans-serif;
        }
        .menu h2 {
            color:deepskyblue;
            text-align: center;
            width: 200px;
            height: 20px;
            font-size: 30px;
            font-weight:40px;
            font-family: 'Roboto', sans-serif;
        }
        .grupo-grid{
            grid-template-columns:(1 1fr);
            grid-template-rows: 1fr 1fr 300px 200px 1fr 200px;
            grid-template-areas:
            "encab"
            "menu"
            "tit-d"
            "mai"
            "pie"
            ;
        }
        .pie{
            width: 1700px;
            height: 70px;
        }
    }
/* LE DI ESTILOS A EL HEADER DE CONCEJOS*/
.encab{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav{
width: 90%;
}
.navBar{
    display: flex;
    justify-content:space-evenly;
    font-weight:20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.navBar li{
    list-style: none;
}
.navBar li a{
    text-decoration: none;
    color:white;
    font-size: 20px ;
}
.navBar li a:hover{
    color: red;
}
.logo{
    width: 300px;
    height: 70px;
}
.logo img{
    width: 30px;
    height: 30px;
}
.logo a{
    color:firebrick;
    text-decoration: none;
    font-weight:30px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    width: 30px;
    height: 30px;
}
/* COMENCE A DARLE ESTILOS A EL MAIN DE CONCEJOS */
.experto{
    width: 1700px;
    height: 1500px;
    display: flex;
    flex-direction: row;
}
.titulo{
    display: flex;
    margin-right: 800px;
}
.titulo img{
    direction: rigth;
}
.titulo a{
    color: white;
    flex-direction: rigth;
}
.tt h1{
    text-align:center;
    color:white;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.nut h2{
    color:white;
    margin:20px;
    font-size: 30px;
    font-family:'Roboto', sans-serif;
}
main{
    width: 1700px;
    height: 100%;
}
.contador{
    display: grid;
    gap: 20px;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "encab encab encab encab"
    "tt tt tt tt"
    "prof prof prof robert-fv"
    "concejos concejos concejos concejos"
    "pie pie pie pie"
    ;
}
.encab{
    display: flex;
    grid-area: encab;
    font-size: 30px;
    width: 1700px;
    height: 70px;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}
.tt{
    grid-area:tt;
    height: 70px;
    width: 1700px;
}
.prof h2{
    align-content: space-between;
    grid-area: prof;
    flex-direction: left;
    width: 500px;
    height: 70px;
    color: white;
    font-size: 40px;
    font-weight: 30px;
    font-family:'Roboto', sans-serif;
}
.robert-f{
    grid-area:robert-f;
    flex-direction: left;
    width: 240px;
    height: 300px;
    margin-right: 200px;
}
.nombre{
    color: white;
    font-size: 30px;
    font-weight: 30px;
    font-family: 'Roboto', sans-serif;
}
.concejos{
    grid-area: concejos;
    flex-direction: rigth;
    font-size: 20px;
    color: white;
    margin-right:40px;
    padding: 20px;
    background-color: darkgoldenrod;
    font-weight: 30px;
    font-family: 'Rubik Distressed', cursive;
    width: 1000px;
    height:1500px;
}
.tt h1{
    width: 1700px;
    height: 70px;
    color:cornflowerblue;
    font-size: 30px;
    font-weight: 30px;
    font-family: 'Roboto', sans-serif;
    background-color: darksalmon;
    text-align: center;
    padding: 10px;
}
.robert-f p{
    background-color: darkgoldenrod;
    font-size: 20px;
    font-weight: 10px;
    font-family: 'Roboto', sans-serif;
}
.beneficios{
    grid-area: beneficios;
}
.concejos p{
    font-size: 20px;
    font-weight: 20px;
    color: white;
}
/* LE DI ESTILOS A EL FOOTER DE CONCEJOS */
.pie{
    grid-area: pie;
    display: flex;
    gap:30px;
    width: 1700px;
    height: 70px;
    justify-content:flex-start;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}
.datos{
    display: flex;
    align-items: center;
    color: black;
    font-family:'Roboto', sans-serif;
}
.datos p{
    font-size: 30px;
    font-weight: 40px;
    margin-top: 10px;
}
.datos h2{
    font-size: 30px;
    font-weight: 30px;
}
.redes-sociales{
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    width: 100px;
    height: 30px;
}
@media(max-width:768px){
    header.encab{
        background-color:cyan ;
    }
    .logo a{
        color: cornflowerblue;
    }
    .navBar li a:hover {
        color: gold;
    }
    .navBar{
    display: flex ;
    flex-direction: column;
    align-items: center;
    }
    .navBar li a{
        color: black;
        font-size: 20px;
        background-position: 50px;
    }
    h1 {
        color:lightgreen ;
        font-size: 40px;
        text-align: center;
    }
    .contador{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr) ;
        grid-template-areas:
        "encab encab tt"
        "prof prof robert-fv"
        "concejos pie pie"
        ;
    }
    .pie{
        width: 1700px;
        height: 70px;
    }
    }
    @media (max-width:320px){
    header.encab{
    background-color: chocolate;
    }
    .logo a{
    color:dodgerblue;
    }
    .navBar li a:hover{
    background-color:greenyellow;
    }
    .navBar{
        align-items:flex-start;
        }
    .navBar li a{
            color: black;
            font-size: 20px;
        }
        h1 {
            color:deepskyblue;
            text-align: center;
            width: 200px;
            height: 20px;
            font-size: 30px;
            font-weight:40px;
            font-family: 'Roboto', sans-serif;
        }
        .contador{
            grid-template-columns:(1 1fr);
            grid-template-rows: 1fr 1fr 300px 200px 1fr 200px;
            grid-template-areas:
            "encab"
            "tt"
            "prof"
            "robert-fv"
            "concejos"
            "pie"
            ;
        }
        .pie{
            width: 1700px;
            height: 70px;
        }
    }
/* ESTILOS A EL HEADER DE CONTACTOS */
.encab{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav{
width: 90%;
}
.navBar{
    display: flex;
    justify-content:space-evenly;
    font-weight:20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.navBar li{
    list-style: none;
}
.navBar li a{
    text-decoration: none;
    color:white;
    font-size: 20px ;
}
.navBar li a:hover{
    color:red;
}
.logo{
    width: 300px;
    height: 70px;
}
.logo img{
    width: 30px;
    height: 30px;
}
.logo a{
    color:firebrick;
    text-decoration: none;
    font-weight:30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 30px;
    height: 30px;
}
/* LE DI ESTILOS A EL MAIN DE CONTACTOS*/
.relac{
    display: grid;
    height: 1700px;
    gap:20px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows:repeat(5, 100px);
    grid-template-areas:
    "encab encab encab encab"
    "medi medi ubic ubic"
    "medi medi ubic ubic"
    "medi medi ubic ubic"
    "pie pie pie pie"
    ;
}
.encab{
    grid-area: encab;
    display: flex;
    width: 1700px;
    height: 70px;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}
.medi{
    grid-area: medi;
    display: grid;
    flex-direction: row;
    }
.inter h2{
    flex-direction: rigth;
    color:black;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 30px;
    text-align:justify;
    width: 700px;
    height: 300px ;
    margin: 30px;
    }
.cuest{
    flex-direction: left;
    justify-content: center;
    }
.conc h4{
    color: white;
    font-family: 'Roboto', sans-serif;
    flex-direction: rigth;
    width: 500px;
    height: 100px ;
    }
.concurso h4{
    color: black;
    flex-direction: rigth;
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 20px;
    width: 700px;
    height: 70px;
    margin: 20px;
    }
.ubic{
    grid-area: ubic;
    display: grid;
    justify-content: flex-end;
    flex-direction: left;
    width: 600px;
    height: 455px;
    margin-right: 140px;
    }
.amigable{
    display: grid;
    color: black;
    justify-content: flex-start;
    flex-direction: rigth;
    width: 1700px;
    height: 1000px;
    margin: 20px;
    }
.uno{
        background-color:aquamarine;
        width: 700px;
        height: 400px;
    }
.dos{
        background-color:aquamarine;
        width: 700px;
        height: 450px;
    }
.suma{
    font-size: 20px;
    font-weight: 20px;
    font-family:'Roboto', sans-serif;
    color: black;
    }
.preg{
    display:flex;
    font-size: 20px;
    font-weight: 20px;
    font-family:'Roboto', sans-serif;
    color: black;
}
.inter{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: 60px;
    width: 700x;
    height:70px;
}
.relac{
    display: flex;
    flex-direction: column;
    width: 1700px;
    height: 1700px;
}
.medi{
    flex-direction: rigth;
    width: 1700px;
    height: 1000px;
    margin-left: 5px;
}
/* COMENCE A DARLE ESTILOS A EL FOOTER DE CONTACTOS*/
.pie{
    grid-area: pie;
    gap: 30px;
    color: white;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}
.datos{
    display: flex;
    column-gap: 50px;
    align-items: center;
    color: black;
    font-family:'Roboto', sans-serif;
}
.datos p{
    font-size: 30px;
    font-weight: 40px;
    margin-top: 10px;
}
.datos h2{
    font-size: 30px;
    font-weight: 30px;
}
.redes-sociales{
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    align-items: center;
    width: 100px;
    height: 30px;
}
@media(max-width:768px){
    header.encab{
        background-color:cyan ;
    }
    .logo a{
        color: cornflowerblue;
    }
    .navBar li a:hover {
        color: gold;
    }
    .navBar{
    display: flex ;
    flex-direction: column;
    align-items: center;
    }
    .navBar li a{
        color: black;
        font-size: 20px;
        background-position: 50px;
    }
    h1 {
        color:lightgreen ;
        font-size: 40px;
        text-align: center;
    }
    .medi{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr) ;
        grid-template-areas:
        "encab encab medi"
        "med med ubic"
        "ubic pie pie"
        ;
    }
    .pie{
        width: 1700px;
        height: 70px;
    }
    }
    @media (max-width:320px){
    header.encab{
    background-color: chocolate;
    }
    .logo a{
    color:dodgerblue;
    }
    .navBar li a:hover{
    background-color:greenyellow;
    }
    .navBar{
        align-items:flex-start;
        }
    .navBar li a{
            color: black;
            font-size: 20px;
        }
        h2 {
            color:deepskyblue;
            text-align: center;
            width: 200px;
            height: 20px;
            font-size: 30px;
            font-weight:40px;
            font-family: 'Roboto', sans-serif;
        }
        h4 {
            color:deepskyblue;
            text-align: center;
            width: 200px;
            height: 20px;
            font-size: 30px;
            font-weight:40px;
            font-family: 'Roboto', sans-serif;
        }
.medallon{
            grid-template-columns:(1 1fr);
            grid-template-rows: 1fr 1fr 300px 200px 1fr 200px;
            grid-template-areas:
            "encab"
            "tit"
            "med"
            "med"
            "med"
            "pie"
            ;
        }
        .pie{
            width: 1700px;
            height: 70px;
        }
    }
/* COMIENZO A DARLE ESTILOS A EL HEADER DE COMPRAS*/
.encab{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav{
width: 90%;
}
.navBar{
    display: flex;
    justify-content:space-evenly;
    font-weight:20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.navBar li{
    list-style: none;
}
.navBar li a{
    text-decoration: none;
    color:white;
    font-size: 20px ;
}
.navBar li a:hover{
    color:red;
}
.logo{
    width: 300px;
    height: 70px;
}
.logo img{
    width: 30px;
    height: 30px;
}
.logo a{
    color:firebrick;
    text-decoration: none;
    font-weight:30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 30px;
    height: 30px;
}
/* LE DOY ESTILOS A EL MAIN DE COMPRAS*/
.ventas{
    display: grid;
    flex-direction: column;
    flex-wrap: nowrap;
}
.ventas{
    display: grid;
    width: 100%;
    height: 100vh;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:(4,1fr);
    grid-template-areas:
    "encab encab encab encab"
    "igual aigual igual igual"
    "pie pie pie pie"
    ;
}
header.encab{
    grid-area: encab;
}
.comp h1{
    grid-area: comp;
    display: grid;
    color: black;
    align-items: center;
    }
.igual{
    grid-area: igual;
    text-align:center;
    font-weight:70px;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color:darkviolet;
    width: 1700px;
    height: 70px;
}
.igual{
    display: grid;
    grid-area: igual;
    width: 1700px;
    height: 1000px;
}
.contr{
    display: grid;
    grid-area: resto;
    flex-direction:column;
    justify-content:flex-start;
    width: 900px;
    height:500px;
}
.resto img{
    width: 900px;
    height:500px;
}
.uuno{
display: grid;

}
.ing h2{
    color: black;
}
.informac{
    color: black;
}
.pila{
    color:black;
}
.nombre{
    color: black;
}
.apellido{
    color: black;
}
.imail{
    color: black;
}
.doss{
    display: grid;
}
.añadir h2{
    color: black;
}
.datper{
    color: black;
}
.cuentas{
    display: grid;
}
.cobrar{
    color:black;
}
/* LE DOY ESTILOS A EL FOOTER DE COMPRAS*/
.pie{
    grid-area: pie;
    display: flex;
    gap: 30px;
    width: 1700px;
    height: 70px;
    color: white;
    justify-content:flex-start;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}
.datos{
    display: flex;
    column-gap: 50px;
    align-items: center;
    color: black;
    font-family:'Roboto', sans-serif;
}
.datos p{
    font-size: 30px;
    font-weight: 40px;
    margin-top: 10px;
}
.datos h2{
    font-size: 30px;
    font-weight: 30px;
}
.redes-sociales{
    display: flex;
    gap: 10px;
    justify-content:space-evenly;
    list-style: none;
    align-items: center;
    width: 100px;
    height: 30px;
}
@media(max-width:768px){
    header.encab{
        background-color:cyan ;
    }
    .logo a{
        color: cornflowerblue;
    }
    .navBar li a:hover {
        color: gold;
    }
    .navBar{
    display: flex ;
    flex-direction: column;
    align-items: center;
    }
    .navBar li a{
        color: black;
        font-size: 20px;
        background-position: 50px;
    }
    h1 {
        color:lightgreen ;
        font-size: 40px;
        text-align: center;
    }
    .igual{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr) ;
        grid-template-areas:
        "encab encab uuno"
        "uuno uuno ubic"
        "ubic pie pie"
        ;
    }
    .pie{
        width: 1700px;
        height: 70px;
    }
    }
    @media (max-width:320px){
    header.encab{
    background-color: chocolate;
    }
    .logo a{
    color:dodgerblue;
    }
    .navBar li a:hover{
    background-color:greenyellow;
    }
    .navBar{
        align-items:flex-start;
        }
    .navBar li a{
            color: black;
            font-size: 20px;
        }
        h1 {
            color:deepskyblue;
            text-align: center;
            width: 200px;
            height: 20px;
            font-size: 30px;
            font-weight:40px;
            font-family: 'Roboto', sans-serif;
        }
        h2 {
            color:deepskyblue;
            text-align: center;
            width: 200px;
            height: 20px;
            font-size: 30px;
            font-weight:40px;
            font-family: 'Roboto', sans-serif;
        }
        .igual{
            grid-template-columns:(1 1fr);
            grid-template-rows: 1fr 1fr 300px 200px 1fr 200px;
            grid-template-areas:
            "encab"
            "uuno"
            "uuno"
            "uuno"
            "pie"
            ;
        }
        .pie{
            width: 1700px;
            height: 70px;
        }
        }