@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&family=Rubik+Distressed&family=Rubik+Microbe&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,300;1,400&family=Ubuntu:wght@700&family=Work+Sans:wght@200;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}
body{

    background-image: url(../assets/img/castillofenestrelle.jpg);
}
/* COMENCE A DAR ESTILOS AL HEADER DE INDEX*/
header {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content:flex-end;
}
main{
    width: 100%;
    height: 1700px;
}
.navBar{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
    padding-left: 20px;
}
.nav{
    width: 90%;
}
.navBar li a{
text-decoration: none;
color: white;
font-size: 30px;
font-family: 'Roboto', sans-serif;
}
.navBar li a:hover{
    color: red;
}
a {
    color:white;
    text-decoration: none;
}
li {
    list-style: none;
}
.logo img{
    color:white; 
    width: 50px ;
    height: 70px;
}
.logo a{
    color: white;
}
.navBar img{
    margin-right: 5px;
}
/* TERMINE DE DARLE ESTILOS A EL HEADER DE EL INDEX*/
.container-grid{
    display: grid;
    height: 100%;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(5, 1fr);
    grid-template-areas:
    "encab encab encab encab"
    "titulo titulo titulo titulo"
    "medio medio medio medio"
    "container container container container"
    "pie pie pie pie"

}
.encab{
    grid-area: encab;
    display: flex;
    background-color:rgba(209, 223, 19, 0.959);
    width: 1700px;
    height: 70px;
}
.titulo{
    grid-area: titulo;
    height: 70px;
    width: 1700px;
}
.titulo h1{
    text-align:center;
    color:white;
    font-weight:80px;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
/* COMENCE A DARLE ESTILOS A EL MAIN */
.medio{
    grid-area: medio;
    display: flex;
    flex-direction: row;
    width: 1600px;
    height: 500px;
}
.medio p{
flex-direction: rigth;
}
.principal{
    display: flex;
    flex-direction: row;
}
.principal img{
flex-direction: rigth;
border-radius: 50px;
width: 600px;
height: 100%;
}
.principal-texto{
    flex-direction: left;
    font-weight: 50px;
    font-size: 40px;
    padding: 30px;
    border-left: 50px;
    width: 600px;
    height: 100% ;
}
.principal h2{
    flex-direction: left;
    font-weight: 50px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    border-left: 30px ;
    color: white;
    margin-left: 20px;
    background-color:rgba(195, 207, 23, 0.959);
}
.principal h4{
    flex-direction: left;
    font-family: 'Rubik Distressed', cursive;
    font-weight: 40px;
    font-size: 20px;
    color: white;
    background-color:rgba(195, 207, 23, 0.959);
    text-align: start;
    margin-left: 20px;
}
.container{
    grid-area: container;
    align-items: center;
    width: 500px;
    height: 500px;
    margin-left: 20%;
}
.pie{
    grid-area: abajo;
    display: flex;
    border-bottom: 20px;
    width: 1700px;
    height: 70px;
}
/* COMENCE A DARLE ESTILOS A EL FOOTER DEL INDEX*/
.datos{
    display: flex;
    color: white;
    gap: 20px;
    list-style: none;
    width: 1700px;
    height: 70px;
    background-color: rgba(209, 223, 19, 0.959);
}
.datos h2{
    display: flex;
    color: white;
    gap: 20px;
    list-style: none;
    width: 1700px;
    height: 70px;
    background-color: rgba(209, 223, 19, 0.959);
}
.datos p{
    color:white;
    margin: 10px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-right: 10px;
}
.redes-sociales a{
    justify-content: flex-end;
    list-style: none;
    background-color: rgba(209, 223, 19, 0.959);
    margin-top: 20px;
    margin-right: 30px;
}
@media(max-width:768px) {
header.encab {
        background-color: cyan;
    }

.logo a {
        color: cornflowerblue;
    }

ul.navbar li a {
        color: cornflowerblue;
        font-size: 20px;

    }

section.titulo h1 {
        color: darkblue;

    }

ul.navbar li a:hover {
        color: gold;
    }
ul.navbar{
    flex-direction: column;
    align-items: center;
 }
 h1{
    color:black;
    font-size: 30px;
 }
.container-grid{
    display: grid;
    width: 100%;
    height: 1700px;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(5 1fr);
    grid-template-areas:
    "encab encab encab encab"
    "titulo titulo titulo titulo"
    "medio medio medio medio"
    "container container container container"
    "pie pie pie pie"
    ;
}
}
/* COMENCE A DAR ESTILOS AL HEADER DE MISION*/
header {
    display: grid;
    width: 100%;
    height: 100px;
    justify-content:flex-end;
}
.nav{
    width: 90%;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    padding-left: 20px;
}
.navbar li a{
text-decoration: none;
color: white;
font-size: 30px;
font-family: 'Roboto', sans-serif;
}
.navbar li a:hover{
    color: red;
}
a {
    color:white;
    text-decoration: none;
}
li {
    list-style: none;
}
.logo-img{
    color:white;
    margin: 20px;
}
.navbar img{
    margin-right: 5px;
}
/* TERMINE DE DARLE ESTILOS A EL HEADER DE MISION*/
.container-grid{
    display: grid;
    width: 100%;
    height: 100vh;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(5, 1fr);
    grid-template-areas:
    "encab encab encab encab"
    "titulo titulo titulo titulo"
    "medio medio medio medio"
    "container container container container"
    "abajo abajo abajo abajo"
    ;
}
.container-grid{
    display:grid;
    width:100%;
    height: 100px;
}
.encab{
    grid: encab;
    display: flex;
    background-color:rgba(209, 223, 19, 0.959);
    height: 70px;
    width: 1700px;
}
.logo.img{
margin: 5px;
}
.titulo{
    grid-area: titulo;
    height: 70px;
    width: 1700px;
}
.titulo h2{
    text-align:center;
    color:white;
    font-weight:100%;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    margin-left: 100px;
}
/* COMENCE A DARLE ESTILOS A EL MAIN */
.medio{
    grid-area: medio;
    display: flex;
    flex-direction: row;
    width: 1700px;
    height: 1000px;
}
.medio p{
flex-direction: rigth;
}
.principal{
    display: flex;
    flex-direction: row;
}
.principal img{
flex-direction: rigth;
border-radius: 50px;
margin-left: 20px;
width: 400px;
height:400px;
}
.principal-texto{
    flex-direction: left;
    padding: 30px;
    border-left: 50px;
    width: 500px;
    height: 100%;
}
.principal h3{
    flex-direction: left;
    font-weight: 50px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    border-left: 30px;
    color:white;
    background-color:rgba(195, 207, 23, 0.959);
    margin-top: 30px;
    margin-left: 20px;
}
.principal h4{
    flex-direction: left;
    font-family: 'Rubik Distressed', cursive;
    color: white;
    font-weight: 50px;
    font-size: 40px;
    text-align: start;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgba(195, 207, 23, 0.959);;
}
.container{
    grid-area: container;
    align-items: center;
    width: 600px;
    height: 500px;
}
.abajo{
    grid-area: pie;
    display: flex;
    width: 100%;
    height: 70px;
    border-bottom: 20px;
}
/* COMENCE A DARLE ESTILOS A EL FOOTER DE MISION*/
.datos{
    display: flex;
    color: white;
    gap: 20px;
    list-style: none;
    background-color:rgba(209, 223, 19, 0.959);
    width: 100%;
    height: 70px;
}
.datos h2{
    color:white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}
.datos p{
    color:white;
    margin: 10px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-right: 10px;
}
.redes-sociales a{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background-color:rgba(209, 223, 19, 0.959);
    margin-top: 20px;
    margin-right: 30px;
}
/* INICIE DARLE ESTILOS A EL HEADER DE NOSOTROS*/
header{
    display: grid;
    width: 100%;
    height: 100px;
    justify-content:flex-end;
}
.nav{
    width: 90%;
}
.navbar {
    display:flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    width: 100%;
    height: 50px;
}
.navbar li a{
    text-decoration: none;
    color: white;
    font: size 30px;
    font-family: 'Roboto', sans-serif;
    align-items: flex-start;
}
.navbar li a:hover{
    color: red;
}
a {
    color:white;
    text-decoration: none;
}
li {
    list-style: none;
}
.escudo img{
    width: 50px;
    height: 50px;
}
.escudo a{
    margin-top: 30px;
    margin-right: 50px;
}
.navbar img{   
    margin-right: 30px;
    width: 30px;
    height: 30px;
}
.cabeza{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.imagen img{
    color:white;
    height: 40px;
    width: 50px;
    margin-left: 10px;
}
.medallon{
    display: grid;
    width: 100%;
    height: 100vh;
    gap: 20px;
    grid-template-columns: repeat(4, 500px);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:

    "cabeza cabeza cabeza cabeza"
    "tit tit tit imagen"
    "med med med imagen2"
    "fin fin fin fin"
;
}
.medallon{
    display:grid;
    width: 100%;
    height: 400px;
}
.cabeza{
    grid-area: cabeza;
    display: flex;
    width: 1700px;
    height: 60px;
    background-color: rgba(209, 223, 19, 0.959);
}
.tit{
    grid-area: tit;
}
.tit h2{
    text-align: start;
    color:white;
    font-weight: 50px;
    font-size: 50px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}
.med{
    grid-area: med;
    height: 50%;
    width: 100%;
}
.imagen{
    display: flex;
    flex-direction: row;

}
.imagen img{
    flex-direction: rigth;
    margin-left: 10px;
    border-radius: 20px;
    width: 500px;
    height: 500px;
}
.imagen p{
flex-direction: left;
color: white;
}
.imagen2 img{
    flex-direction: left;
    border-radius: 20px;
}
.fin{
    grid-area: fin;
    width: 100%;
    height: 70px;
    background-color: rgba(209, 223, 19, 0.959);
}
.parrafo p{
    color: black;
    font-size: 30px;
    font-family: 'Rubik Distressed', cursive;
    margin-left: 30px;
    background-color: rgba(209, 223, 19, 0.959);
}
.imagen2  img{
    margin: 10px;
    flex-direction: rigth;
    width: 50%;
}
/* COMENCE A DARLE ESTILOS A EL FOOTER DE NOSOTROS */

.datos{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    list-style: none;
    width: 1700px;
    height: 70px;
}
.datos h2{
    color:white;
    justify-content: flex-end;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.datos p{
    color:white;
    justify-content: flex-end;
    margin: 10px;
    font-size: 30px;
    font-family:'Roboto', sans-serif;
    margin-left: 10px;
}
.redes-sociales{
    display: flex;
    gap: 20px; 
    justify-content: flex-end;
    list-style: none;
    background-color:rgba(209, 223, 19, 0.959);
}
/* LE DI ESTILOS A LA PAGINA DE INICIO DE PRODUCTOS */
header {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content:flex-end;
}
.nav{
    width: 90%;
}
.navbar{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: flex-end;
    list-style: none;
    color: white;
    gap: 20px;
}
    .navbar li a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 30px;
}
.navbar li a:hover{
    color: red;
}
a {
    color:white;
    text-decoration: none;
}
li {
    list-style: none;
}
.escudo img{
    align-items:flex-start;
    color:white;
    margin: 20px;
    width: 40px ;
    height: 40px;
}
.escudo a{
    color:white;
}
/* LE DI ESTILOS A EL MAIN DE PRODUCTOS */
.mai{
    width: 1700px;
    height: 2000px;
}
.grupo-grid{
    display: grid;
    width: 1700px;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 70px 70px 70px 300px 300px);
    grid-template-areas:
    "principio principio principio principio"
    "tit tit tit tit"
    "tit-d tit-d  tit-d tit-d"
    "mai mai mai mai"
    "pat pat pat pat"
    ;
}
.principio{
    grid-area: principio;
    display: flex;
    background-color: rgba(209, 223, 19, 0.959);
    width: 1700px;
    height: 70px;
}
.tit{ 
    grid-area: tit;
    width: 1700px;
    height: 70px; 
    display: flex;
}
.tit-d{
    grid-area: tit-d;

}
.mai{
    grid-area: mai;
    background-color: black;
    align-content: center;
    margin-left: 120px;
}
.tit h1{
background-color: black;
text-align:center;
color: white;
font-weight: 40px;
font-size: 50px;
font-family: 'Roboto', sans-serif;
}
.tit-d h2{
    color: white;
    text-align:center;
    font-weight: 50px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    background-color: darkorange;
    width: 1700px;
    height: 70px;
}
.pat{
  grid-area: pat; 
}
.contenedor{
    margin-bottom: 20px;
    width: 100px;
    height: 70px;
}
.mas h3{
    background-color: darkorange;
    color: white;
    width: 1700px;
    height: 70px;
}
/* LE DI ESTILOS A EL FOOTER DE PRODUCTOS  */
.datos{
    display: flex;
    justify-content:space-around ;
    gap: 20px;
    list-style: none;
    width: 100%;
    height: 70px;
}
.datos h2{
    color:white;
    background-color:rgba(209, 223, 19, 0.959);
    margin: 10px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}.datos p{
    color:white;
    background-color:rgba(209, 223, 19, 0.959);
    margin: 10px;
    font-size: 30px;
    font-family:'Roboto', sans-serif;
}
.redes-sociales{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background-color:rgba(209, 223, 19, 0.959);
    margin-right: 30px;
} 
/* LE DI ESTILOS A EL HEADER DE CONCEJOS*/
header {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content:flex-end;
}
.nav{
    width: 90%;
}
.navbar{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.navbar li a:hover{
    color: red;
}
.carrito img{
    margin: 30px;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style:none;
}
.titulo{
    display: flex;
    margin-right: 800px;
}
.titulo img{
    direction: rigth;
}
.titulo a{
    color: white;
    flex-direction: rigth;
}
/* COMENCE A DARLE ESTILOS A EL MAIN DE CONCEJOS */
h1{
    text-align:center;
    color:white;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.nut h2{
    color:white;
    margin:20px;
    font-size: 30px;
    font-family:'Roboto', sans-serif;
}
main{
    width: 100%;
    height: 100%;
}
.contador{
    display:grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr );
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:

    "bnav bnav bnav bnav"
    "none tt tt none"
    "prof prof prof ima"
    "consejos concejos ima2"
    "concejos concejos ima2"
    "foot foot foot foot"
    ;
}
.bnav{
    background-color:rgba(209, 223, 19, 0.959); 
    display: flex;
    grid-area: bnav;
    font-size: 30px;
    width: 1700px;
    height: 70px;
}
.tt{
    grid-area:tt;
    height: 70px;
    width: 1600px;
}
.prof{
    grid-area: prof;
    flex-direction: left;

}
.ima1{
    grid-area:ima;
}
.concejos{
    grid-area: concejos;
    flex-direction: left;
    color: white;
}
.foot{
    grid-area: foot;
}

.ima2{
    grid-area:ima2;
}
.contador{
    display: flex;
}
.prof p{
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}
.concejos p{
    font-size: 30px;
    font-family:'Rubik Distressed', cursive ;
}
.prof h2{
    flex-direction: rigth;
    color: white;
}  
/* LE DI ESTILOS A EL FOOTER DE CONCEJOS */
.datos{
    display: flex;
    gap: 20px;
    list-style: none;
}
.datos h2{
    color:white;
    margin: 10px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.datos p{
    color:white;
    margin: 10px;
    font-size: 30px;
    font-family:'Roboto', sans-serif;
}
.redes-sociales{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 10px;
}
/* ESTILOS A EL HEADER DE CONTACTOS */
body{
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
}
.nav{
    width: 90%;
}
.navBar{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    margin-right: 20px;
}
.navBar li a{
    text-decoration: none;
    color:white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.navBar li a:hover{
    color: red;
}
.carrito img{
    margin:30px;
}
a{
    color:white;
}
li{
list-style: none;
}
.logo.img{
    color:white;
    width: 50px;
} 
/* LE DI ESTILOS A EL MAIN DE CONTACTOS*/
main{
    width:100px;
    height:100px;
}
h2{
    color: white;
    text-align:left;
    width: 1700px;
    height: 70px ;
} 
.inter {
    width: 50px;
    height: 50px;
}
.relac{
    display: grid;
    width: 100%;
    height: 1700px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(5, 1fr);
    grid-template-areas:

    "pag pag pag pag"
    "titu titu titu titu"
    "medi medi medi medi"
    "medi medi medi medi"
    "ult ult ult ult"
    ;
}  
    header{
    display: grid;
    width: 100%;
    height: 500vh;
    justify-content: flex-end;
}
    .pag{
        grid-area: pag;
        display: flex;
        width: 1700px;
        height: 70px;
        background-color:rgba(209, 223, 19, 0.959);
    }
    .medi{
        grid-area: med;
        display: grid;
    }
    .ubic{
        grid-area: mapa;
    }
    .ult{
        grid-area: ult;
        width: 1700px;
        height: 70px;
    }
    .medi{
    display: flex;
    flex-direction: row;
    width: 1700px;
    height: 70px;
    }
    .cuest{
        display: flex;
        flex-direction: left;
    }
    .mapa{
        display: flex;
        flex-direction: rigth;
    }
    .datos{
        display: flex;
        gap: 20px;
        list-style: none;
    }
    .datos h2{
        color:white;
        margin: 10px;
        font-size: 30px;
        font-family: 'Ubuntu', sans-serif;
    }
    .datos p{
        color:white;
        margin: 5px;
        font-size: 30px;
        font-family: 'Ubuntu', sans-serif;
    }
    .redes-sociales{
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin-right: 10px;
    }   